langchain_chroma==0.1.2
langchain_community==0.2.17
protobuf==3.20.*
chromadb==0.5.4
uvicorn==0.29.0
loguru==0.7.0
fastapi~=0.111.0
pydantic~=2.7.1
python-dotenv~=1.0.1
sentencepiece==0.2.0
torch==2.4.1
sentence-transformers==2.7.0
pandas==1.5.3
numpy==1.24.3
