<!--<div style="display:flex;  align-items: baseline; justify-content: space-between; width: 100%">-->
<!--    <h2 mat-dialog-title>Метрики</h2>-->
<!--</div>-->
<!--<div style="display: flex; flex-direction: column;height: 100%; align-items: center; justify-content: center;gap: 2rem" *ngIf="singleMetrics.length==0 && !loading2()">-->
<!--    <h2>Данные не найдены, попробуйте заново загрузить файл или немного подождать...</h2>-->
<!--    <img height="300px" src="assets/[removal.ai]_4accafd9-f607-4ebf-a2fe-bdbe10c437f0-6029646.png">-->
<!--    <button mat-raised-button color="primary" routerLink="/main">На главную</button>-->
<!--</div>-->
<!--&lt;!&ndash;<div *ngIf="allMetrics && allMetrics.length>0 && !loading()" style="      margin-top: 50px;&ndash;&gt;-->
<!--&lt;!&ndash;    margin-left: 105px;&ndash;&gt;-->
<!--&lt;!&ndash;    margin-right: 105px;display: flex; height: fit-content;flex-direction: column; gap: 1rem; min-width: 200px; width: 50%;&ndash;&gt;-->
<!--&lt;!&ndash;    min-height: 300px;&ndash;&gt;-->
<!--&lt;!&ndash;    background-color: #fff;&ndash;&gt;-->
<!--&lt;!&ndash;    position: relative;&ndash;&gt;-->
<!--&lt;!&ndash;    overflow: hidden;&ndash;&gt;-->
<!--&lt;!&ndash;    padding: 20px;">&ndash;&gt;-->
<!--&lt;!&ndash;    <h2>Метрики по выбранным файлам</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    <p *ngFor="let i of allMetrics">{{ i.metric.title }}: {{ i.value }}&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon color="primary" *ngIf="i.metric.formula" [matTooltip]="i.metric.formula"&ndash;&gt;-->
<!--&lt;!&ndash;                  [matTooltipPosition]="'right'">flash_on&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div *ngIf="size>=20 && !loading2() && singleMetrics.length>0" style="  margin-left: 105px;&ndash;&gt;-->
<!--&lt;!&ndash;    margin-right: 105px;display: flex; width: 100%; align-items: center; margin-top: 60px; justify-content: end;&ndash;&gt;-->
<!--&lt;!&ndash;  gap: 30px">&ndash;&gt;-->
<!--&lt;!&ndash;    <pagination-controls previousLabel="←" nextLabel="→"&ndash;&gt;-->
<!--&lt;!&ndash;                         (pageChange)="paginate($event, filteredNegotiations)"></pagination-controls>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-form-field appearance="outline" style="width: 250px">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label> Файлов на страницу:</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-select (selectionChange)="checkEvent($event)" [(value)]="size"&ndash;&gt;-->
<!--&lt;!&ndash;                    (valueChange)="paginate(pageIndex, filteredNegotiations)">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-option [value]="5">5</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-option [value]="10">10</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-option [value]="20">20</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-option [value]="50">50</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Всего: {{ singleMetrics.length }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<h2 *ngIf="singleMetrics.length>0" style="margin-left: 105px !important;margin-top: 60px !important;">Подробный анализ по файлам</h2>-->
<!--<mat-form-field *ngIf="!loading2() && singleMetrics.length>0" style="width: -webkit-fill-available; margin-top: 40px;margin-left: 105px;-->
<!--    margin-right: 105px;">-->
<!--    <mat-label>Фильтрация по названию файла</mat-label>-->
<!--    <input matInput [formControl]="filterInput">-->
<!--</mat-form-field>-->
<!--<div style="display: flex; width: 100%">-->
<!--    <table *ngIf="!loading2() && singleMetrics.length>0" [multiTemplateDataRows]="true" style="min-width: -webkit-fill-available; margin-left: 105px;-->
<!--    margin-right: 105px;    box-shadow: none;-->
<!--    background-color: rgba(250, 250, 250, 0.8);" mat-table-->
<!--           [dataSource]="dataSource | paginate: {itemsPerPage: size, currentPage: pageIndex, totalItems: filteredNegotiations.length}">-->
<!--        <ng-container matColumnDef="Файл">-->
<!--            <th mat-header-cell *matHeaderCellDef><b>Файл</b></th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <div style="display: flex; align-self: center">-->
<!--                    <p>{{ element.negotiation.fileName }}-->
<!--                        <mat-icon-->
<!--                                (click)="loadMusic(element.negotiation.fileStorageId, element.negotiationText, element.id)"-->
<!--                                color="primary">play_circle_filled-->
<!--                        </mat-icon>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </td>-->
<!--        </ng-container>-->
<!--        &lt;!&ndash;        <ng-container matColumnDef="Тип файла">&ndash;&gt;-->
<!--        &lt;!&ndash;            <th mat-header-cell *matHeaderCellDef><b>Тип файла</b></th>&ndash;&gt;-->
<!--        &lt;!&ndash;            <td mat-cell *matCellDef="let element"> <p>{{ element.negotiation.fileType }} </p></td>&ndash;&gt;-->
<!--        &lt;!&ndash;        </ng-container>&ndash;&gt;-->
<!--        <ng-container matColumnDef="Дата загрузки">-->
<!--            <th mat-header-cell *matHeaderCellDef><b>Дата загрузки</b></th>-->
<!--            <td mat-cell *matCellDef="let element"><p>{{ element.negotiation.createdAt  | date:'dd.MM.yyyy HH:mm' }}</p>-->
<!--            </td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="Есть нарушение">-->
<!--            <th mat-header-cell *matHeaderCellDef><b>Есть нарушение</b></th>-->
<!--            <td mat-cell *matCellDef="let element"><p>{{ element.isViolated ? 'Да' : 'Нет' }} </p></td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="Тескт">-->
<!--            <th mat-header-cell *matHeaderCellDef><b>Тескт</b></th>-->
<!--            <td mat-cell *matCellDef="let row;" style=";color: #1b3dff; cursor: pointer">-->
<!--                <button mat-stroked-button color="primary" (click)="checkOne(row.id)">Посмотреть</button>-->
<!--                &lt;!&ndash;                            <button mat-raised-button color="primary"><h3>Посмотреть</h3></button>&ndash;&gt;-->
<!--            </td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="expandedDetail">-->
<!--            <td colspan="4" mat-cell *matCellDef="let element">-->
<!--                <div class="example-element-detail" style="display: flex; flex-direction:column;"-->
<!--                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">-->
<!--                    <p *ngFor="let interval of element.splitted" style="padding: 10px !important; line-height: 15px !important;">-->
<!--                        <span *ngFor="let word of interval">-->
<!--                            <span *ngIf="word.highlited" class="highlight"-->
<!--                                  [matTooltip]="word.violatedRegulation ?? ''">{{ word.text }}</span>-->
<!--                            <span *ngIf="!word.highlited">{{ word.text }}</span>-->
<!--                        </span>-->
<!--                    </p>-->
<!--                </div>-->
<!--            <td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--        <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"-->
<!--            [class.example-expanded-row]="expandedElement === element"-->
<!--            (click)="expandedElement = expandedElement === element ? null : element"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: expandedDetail" class="example-detail-row"></tr>-->
<!--    </table>-->
<!--</div>-->
<!--<div *ngIf="!loading2() && singleMetrics.length>0" style="margin-left: 105px;-->
<!--    margin-right: 105px;display: flex; width: -webkit-fill-available; align-items: center; margin-top: 15px; justify-content: end;-->
<!--  gap: 30px">-->
<!--    <pagination-controls previousLabel="←" nextLabel="→"-->
<!--                         (pageChange)="paginate($event, filteredNegotiations)"></pagination-controls>-->
<!--    <mat-form-field appearance="outline" style="width: 250px">-->
<!--        <mat-label> Файлов на страницу:</mat-label>-->
<!--        <mat-select (selectionChange)="checkEvent($event)" [(value)]="size"-->
<!--                    (valueChange)="paginate(pageIndex, filteredNegotiations)">-->
<!--            <mat-option [value]="5">5</mat-option>-->
<!--            <mat-option [value]="10">10</mat-option>-->
<!--            <mat-option [value]="20">20</mat-option>-->
<!--            <mat-option [value]="50">50</mat-option>-->
<!--        </mat-select>-->
<!--    </mat-form-field>-->
<!--    <p>Всего: {{ singleMetrics.length }}</p>-->
<!--</div>-->
<!--<mat-progress-spinner *ngIf="loading2()"-->
<!--                      style="margin-top: 180px; align-self: center;"-->
<!--                      color="primary"-->
<!--                      mode="indeterminate"-->
<!--                      [diameter]="60"-->
<!--                      [strokeWidth]="6"-->
<!--                      [value]="80">-->
<!--</mat-progress-spinner>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<h1>fkdfmsd</h1>