<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
            <a [ngClass]="{'active-nav' : router.url==='/all'}" mat-list-item routerLink="/all"><img src="assets/2.svg" style="width: 24px">Все обращения</a>
            <a [ngClass]="{'active-nav' : router.url==='/my'}" mat-list-item routerLink="/my"><img src="assets/3.svg" style="width: 24px">Мои обращения</a>
            <a [ngClass]="{'active-nav' : router.url==='/history'}" mat-list-item routerLink="/history"><img src="assets/4.svg" style="width: 24px">История</a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
