@use '@angular/material' as mat;
@include mat.core();
@import "node_modules/angular-notifier/styles";

$my_accent_palette: (
  50: #ffffff,
  100: #e31b1a,
  200: #92a6ff,
  300: #6682ff,
  400: #4668ff,
  500: #254dff,
  600: #2146ff,
  700: #1b3dff,
  800: #1634ff,
  900: #1b3dff,
  A100: #ffffff,
  A200: #f6f7ff,
  A400: #c3c8ff,
  A700: #aab0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$main-color: #e31b1a;
@font-face {
  font-family: 'Rail';
  src: url("assets/RussianRail B Pro Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url("assets/IBMPlexSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url("assets/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
$primary-color: #262626; // тёмно-серый для шапки и бокового меню
$accent-color: #ff0000;  // красный для акцентных элементов
$background-color: #f9f9f9;
$toolbar-text-color: #ffffff;
$my-primary: mat.define-palette($my_accent_palette, 100);
$my-accent: mat.define-palette($my_accent_palette, 50);
$my-warn: mat.define-palette(mat.$deep-orange-palette, 700);
$my-fonts: mat.define-typography-config(
  $font-family: 'Open Sans',
);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: $my-fonts,
));
mat-toolbar {
  background-color: $primary-color;
  color: $toolbar-text-color;

  .mat-icon {
    color: $toolbar-text-color;
  }
}

mat-sidenav {
  background-color: $primary-color;
  color: $toolbar-text-color;

  .mat-list-item {
    color: $toolbar-text-color;
  }

  .mat-list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

mat-sidenav-content {
  background-color: $background-color;
  padding: 16px;
}

@include mat.all-component-themes($my-theme);

@font-face {
  font-family: 'Rail';
  src: url("assets/RussianRail G Pro Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html, body { height: 100%; background-color: #14191F}
body { margin: 0; font-family: "Open Sans", sans-serif !important;}
p{
  font-size: 14px !important;
  //font-weight: bolder !important;
  color: #E1E5EA;
  font-family: "Open Sans", sans-serif !important;
  padding: 0 !important;
  margin: 0 !important;
}
small {
  color: #889BAF;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}
a {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px !important;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0 !important;
  color: #E1E5EA;
  transition: 20ms;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #42A4FF;
}
h1 {
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 26px !important;
  margin: 0 !important;
  color: #E1E5EA !important;
  font-family: "Open Sans", sans-serif !important;
}
h2 {
  font-size: 24px  !important;
  font-weight: bold !important;
  font-family: "Open Sans", sans-serif !important;
}
h3 {
  font-size: 17px  !important;
  font-weight: bolder !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Open Sans", sans-serif !important;
  color: rgba(255, 255, 255, .75);
}
h3:hover {
  color: white;
}
.advanced-pie-legend.legend-items-container.legend-items.legend-item .item-value {
  margin-top: 10px !important;
}
.advanced-pie-legend .total-value {
  margin-top: 10px !important;
}
.advanced-pie-legend {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advanced-pie-legend .legend-items-container .legend-items{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
  margin-top: 0 !important;
}
.advanced-pie-legend .legend-items-container .legend-items {
  overflow: visible !important;
}
.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px !important;
  border: transparent !important;
}
.ngx-pagination .current{
  background-color: #e31b1a !important;
  &:hover {
    background-color: #e31b1a !important;

  }
}
.ngx-pagination {
  display: flex;
  gap: 10px;
  align-items: center;
}
.notifier__notification-message ng-star-inserted {
  color: white !important;
}
.mat-mdc-row mdc-data-table__row cdk-row example-element-row ng-tns-c2964398639-3 ng-star-inserted {
  width: 0;
}
.mat-mdc-dialog-container .mdc-dialog__surface{ background-color:  #e9eaed !important;}
 .mat-drawer-content {
   height: 100vh !important;
   width: 210px !important;
   margin-left: 0 !important;
 }
.mat-drawer.mat-drawer-side{
  width: 100% !important;
}
.mat-drawer-inner-container {
  background-color: #1C232B;
}

.mdc-list-item__primary-text {
  color: white !important;
  font-size: 14px !important;
}
//.mat-mdc-list-base {
//  padding-left: 20px !important;
//}
//.mdc-list-item :hover {
//  background-color: #29333D !important;
//}
.mat-drawer {
  background-color: #1C232B !important;
}
.mat-drawer-side{
  border-color: #1C232B;
}
//.mdc-list-item__content {
//  padding-left: 20px !important;
//}
.mdc-list-item__primary-text {
  display: flex  !important;
  align-items: center  !important;
  gap: 10px  !important;
}
.mdc-list-item.mdc-list-item--with-one-line :hover{
  background-color:#29333d !important;
  height: 100% !important;
}
.active-nav {
    background-color:#29333d !important;
}
.mdc-list {
  padding: 0 !important;
}
.mdc-list-item__primary-text {
  padding-left: 20px !important;
}

.my-input {
  display: block;
  width: 100%;
  outline: 0;
  border: 1px solid #3D4A58;
  //position: relative;
  //z-index: 1;
  box-sizing: border-box;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 5px;
  background: #1C232B;
  color: #E1E5EA;
  transition: all 0.3s ease;
  //min-height: 40px;
  font-size: 13px;
  line-height: 13px;
  height: 38px;
  padding: 10px 15px 12px;
  &::placeholder {
    color: rgba(225, 229, 234, 0.5);
    font-family: inherit;
    font-size: 13px;
    line-height: normal !important;
  }
}
.btn {
  background: #00A1E7;
  color: #FFFFFF;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  min-width: 68px;
  padding: 11px 16px;
  appearance: none;
  border: 1px solid #00A1E7;
  border-radius: 6px;
  outline: 0;
  position: relative;
  transition: background-color .3s ease;
  &:disabled,&[disabled] {
    pointer-events: none;
    opacity: .7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: not-allowed;
    background: #212932;
    border-color: #212932;
    color: #5A6877;
  }
}
.tbl {
  margin-top: 30px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  column-gap: 10px;
}
.tbl-6 {
  margin-top: 30px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  column-gap: 10px;
  button {
    height: 35px !important;
    line-height: 0;
    
    &:hover {
      background-color: #42A4FF;
      border-color: #42A4FF;
    }
  }
}
.ngx-charts text { fill: #fff !important; }
.ngx-charts .gridline-path {
  stroke: #455066 !important;
}
ngx-charts .tooltip-anchor {
  fill: #455066 !important;
}